<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="empty"></div>

<div th:fragment="captcha" style="margin-bottom: 4px;">
    <input id="captcha-id" name="captchaId" type="hidden">

    <div class="field" style="margin-bottom: 0px;">
        <img id="captcha-image">
    </div>
    <div class="field">
        <input class="input" id="captcha" name="captchaText" th:placeholder="#{captcha}" autocomplete="off"
               style="margin-bottom: 4px;" required>
        <button type="button" id="captcha-refresh-button" class="button is-info colored" onclick="refreshCaptcha()">
            <i class="fa fa-sync" id="captcha-refresh-icon"></i>
        </button>
    </div>
</div>

<div th:fragment="header-logged-out" dir="ltr" id="header-logged-out" class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" id="navbar-text" th:text="#{app.name}"></a>
        </div>

        <div style="width: 100%; display: flex;">
            <div class="navbar-end">
                <div class="navbar-item" id="navbar-item-language" style="padding-right: 0px;">
                    <a class="button is-info is-outlined navbar-item-icon" onclick="openModal('lang-modal')"
                       style="width: 40px; height: 40px;"><i style="padding-right: 0px;"
                                                             class="fas fa-globe"></i></a>
                </div>
                <div class="navbar-item" id="navbar-item-register">
                    <a class="button is-info is-outlined" href="/register" th:text="#{sign-up}"></a>
                </div>
                <div class="navbar-item">
                    <a class="button is-info is-outlined" id="login" href="/login" th:text="#{login}"> </a>
                </div>
            </div>
        </div>
    </nav>
    <script>
        function onLanguageButtonClicked() {
            let locale = document.getElementById('locale');
            locale.scrollIntoView({behavior: 'smooth', block: 'center'});
            setTimeout(function () {
                locale.focus()
            }, 700);
        }
    </script>
</div>

<div th:fragment="header-index" dir="ltr" id="header-index" class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" id="navbar-text" th:text="#{app.name}"></a>
        </div>

        <div style="width: 100%; display: flex;">
            <div class="navbar-end">
                <div class="navbar-item" id="navbar-item-language" style="padding-right: 0px;">
                    <a class="button is-info is-outlined navbar-item-icon" onclick="openModal('lang-modal')"
                       style="width: 40px; height: 40px;"><i style="padding-right: 0px;"
                                                             class="fas fa-globe"></i></a>
                </div>
                <div class="navbar-item" id="navbar-item-register">
                    <a class="button is-info is-outlined" href="/register" th:text="#{sign-up}"></a>
                </div>
                <div class="navbar-item">
                    <a class="button is-info is-outlined" id="login" href="/login" th:text="#{login}"> </a>
                </div>
            </div>
        </div>
    </nav>
    <script>
        function onLanguageButtonClicked() {
            let locale = document.getElementById('locale');
            locale.scrollIntoView({behavior: 'smooth', block: 'center'});
            setTimeout(function () {
                locale.focus()
            }, 700);
        }
    </script>
</div>

<div th:fragment="header-logged-in" dir="ltr" id="header-logged-in" class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a id="navbar-text" class="navbar-item" th:text="#{app.name}"></a>
        </div>

        <div style="width: 100%; display: flex;">
            <div class="navbar-end">
                <span class="navbar-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="button is-outlined is-info" href="/logout" id="logout">
                            <span th:text="#{logout}"></span>
                        </button>
                    </form>
                </span>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="header-search" dir="ltr" id="header-logged-in" class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a id="navbar-text" class="navbar-item" th:text="#{app.name}"></a>
        </div>

        <div style="width: 100%; display: flex;">
            <div class="navbar-end">
					<span class="navbar-item" style="padding-right: 0px;">
						<a class="button colored is-info navbar-item-icon" onclick="searchSettingsClicked()"
                           style="width: 76px; height: 40px;"><i style="padding-right: 0px;"
                                                                 class="fas fa-cog"></i></a>
					</span>
                <span class="navbar-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="button is-outlined is-info" href="/logout" id="logout">
                            <span th:text="#{logout}"></span>
                        </button>
                    </form>
                </span>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="header-donate" dir="ltr" id="header-logged-in" class="header header-donate">
    <nav class="navbar">
        <div class="navbar-brand">
            <a id="navbar-text" class="navbar-item" th:text="#{app.name}"></a>
        </div>

        <div style="width: 100%; display: flex;">
            <div class="navbar-end">
					<span class="navbar-item" style="padding-right: 0px;">
						<a class="button colored is-info navbar-item-icon" onclick="donateSortClicked()"
                           style="width: 76px; height: 40px;"><i style="padding-right: 0px;"
                                                                 class="fas fa-sort-amount-down"></i></a>
					</span>
                <span class="navbar-item" style="padding-right: 0px;">
						<a class="button colored is-info navbar-item-icon" href="/donate-list" target="_blank"
                           style="min-width: 76px; height: 40px;"><i style="padding-right: 0px;"
                                                                     class="fas fa-coins"></i><span
                                th:text="#{donate.donate-now}" style="padding-left: 8px;"
                                id="donate-now-text"></span></a>
					</span>
                <span class="navbar-item">
						<form th:action="@{/logout}" method="post">
							<button class="button is-outlined is-info" href="/logout" id="logout">
								<span th:text="#{logout}"></span>
							</button>
						</form>
					</span>
            </div>
        </div>
    </nav>
</div>

<footer class="footer" th:fragment="footer" id="footer">
    <div class="container">
        <div class="columns">
            <div class="column flex-center">
                <div class="button" onclick="openModal('lang-modal')" style="margin-top: -8px;">
                    <i class="fas fa-globe" style="margin-right: 6px; margin-left: 6px;"></i>
                    <span th:text="#{language}"></span>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <a href="/privacy" th:text="#{privacy-policy}"></a>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <a href="/tos" th:text="#{tos}"></a>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <a href="/imprint" th:text="#{imprint}"></a>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <a href="/faq" th:text="#{faq}"></a>
                </div>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <a href="https://www.github.com/Alovoa/Alovoa/">
                        <picture>
                            <source srcset="/img/github-dark.svg" media="(prefers-color-scheme: dark)">
                            <img src="/img/github.svg" style="height: 20px;">
                        </picture>
                    </a>
                    <a href="https://www.reddit.com/r/Alovoa/"><img src="/img/r-icon.svg" style="height: 20px;"
                                                                    alt="reddit"></a>
                    <a href="https://twitter.com/alovoa_love"><img src="/img/t-icon.svg" style="height: 20px;"
                                                                   alt="twitter"></a>
                    <a href="https://mastodon.social/@alovoa_love"><img src="/img/m-icon.svg" style="height: 20px;"
                                                                        alt="mastodon"></a>
                </div>
            </div>
        </div>
    </div>

    <div id="lang-modal" class="modal modal-fx-fadeInScale">
        <div class="modal-background" onclick="closeModal()"></div>
        <div class="modal-content">
            <div style="margin: 8px;">
                <div onclick="closeModal()" style="padding-bottom: 4px;"><i class="fa fa-times fa-2x"
                                                                            style="cursor: pointer; color: white"></i>
                </div>
                <button class="button colored is-primary" value="?lang=en"
                        onclick="onChangeLocal(this.value)">English
                </button>
                <button class="button colored is-primary" value="?lang=de"
                        onclick="onChangeLocal(this.value)">Deutsch
                </button>
                <button class="button colored is-primary" value="?lang=es"
                        onclick="onChangeLocal(this.value)">Español*
                </button>
                <button class="button colored is-primary" value="?lang=fr"
                        onclick="onChangeLocal(this.value)">Français*
                </button>
                <button class="button colored is-primary" value="?lang=pt"
                        onclick="onChangeLocal(this.value)">Português*
                </button>
                <button class="button colored is-primary" value="?lang=it"
                        onclick="onChangeLocal(this.value)">Italiano*
                </button>
                <button class="button colored is-primary" value="?lang=nl"
                        onclick="onChangeLocal(this.value)">Nederlands*
                </button>
                <button class="button colored is-primary" value="?lang=cz"
                        onclick="onChangeLocal(this.value)">Čeština*
                </button>
                <button class="button colored is-primary" value="?lang=ru"
                        onclick="onChangeLocal(this.value)">русский*
                </button>
                <button class="button colored is-primary" value="?lang=ja"
                        onclick="onChangeLocal(this.value)">日本語*
                </button>
                <button class="button colored is-primary" value="?lang=zh"
                        onclick="onChangeLocal(this.value)">中文*
                </button>
                <button class="button colored is-primary" value="?lang=ko"
                        onclick="onChangeLocal(this.value)">한국어*
                </button>
                <button class="button colored is-primary" value="?lang=ar"
                        onclick="onChangeLocal(this.value)">عربى*
                </button>
                <button class="button colored is-primary" value="?lang=tr"
                        onclick="onChangeLocal(this.value)">Türkçe*
                </button>
                <div style="color: white"><span style="float:right; margin-right: 4px;">* beta</span></div>
            </div>
        </div>
    </div>
    <script>
        function onChangeLocal(val) {
            console.log(val);
            if (val.includes('?lang=') && val.length == 8) {
                window.location.search = val;
            }
        }
    </script>
</footer>

<div th:fragment="navigation" class="center-parent">
    <nav class="navbar is-link is-fixed-bottom" role="navigation" style="display: block;">
        <div class="navbar-brand">
            <a class="button is-inverted is-primary navigation-item" href="/profile" id="nav-profile">
                <div>
                    <i class="fa fa-user"></i><span th:text="#{profile}" class="navigation-item-span-right"></span>
                </div>
                <span th:text="#{profile}" class="navigation-item-span-bottom"></span>
            </a>
            <a th:if="${@chatEnabled.getChatEnabled()}" class="button is-inverted is-primary navigation-item" id="nav-chats"
               th:href="${@chatUrl.getChatUrl()}">
                <div>
                    <i class="fa fa-comments"></i><span th:text="#{chats}"
                                                        class="navigation-item-span-right"></span>
                </div>
                <span th:text="#{chats}" class="navigation-item-span-bottom"></span>
            </a>
            <a class="button is-inverted is-primary navigation-item" href="/search" id="nav-search">
                <div>
                    <i class="fa fa-search"></i><span th:text="#{search}" class="navigation-item-span-right"></span>
                </div>
                <span th:text="#{search}" class="navigation-item-span-bottom"></span>
            </a>
            <a class="button is-inverted is-primary navigation-item" id="nav-alerts" href="/alerts">
                <div>
                    <i class="fa fa-bell"></i><span th:text="#{alerts}" class="navigation-item-span-right"></span>
                </div>
                <span th:text="#{alerts}" class="navigation-item-span-bottom"></span>
            </a>
            <a th:if="${@donateEnabled.getDonateEnabled()}" class="button is-inverted is-primary navigation-item" href="/donate" id="nav-donate">
                <div>
                    <i class="fa fa-coins"></i><span th:text="#{donate}" class="navigation-item-span-right"></span>
                </div>
                <span th:text="#{donate}" class="navigation-item-span-bottom"></span>
            </a>
        </div>
    </nav>
</div>

<th:block th:fragment="bulma">
    <th:block th:if="${user != null}">
        <th:block th:if="${user.accentColor != null}">
            <link th:if="${user.accentColor == 'purple'}" rel="stylesheet" href="/css/lib/bulma.purple.css">
            <link th:if="${user.accentColor == 'blue'}" rel="stylesheet" href="/css/lib/bulma.blue.css">
            <link th:if="${user.accentColor == 'orange'}" rel="stylesheet" href="/css/lib/bulma.orange.css">
        </th:block>
    </th:block>
    <th:block th:if="${currUser != null}">
        <th:block th:if="${currUser.accentColor != null}">
            <link th:if="${currUser.accentColor == 'purple'}" rel="stylesheet" href="/css/lib/bulma.purple.css">
            <link th:if="${currUser.accentColor == 'blue'}" rel="stylesheet" href="/css/lib/bulma.blue.css">
            <link th:if="${currUser.accentColor == 'orange'}" rel="stylesheet" href="/css/lib/bulma.orange.css">
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="ui-design">
    <th:block th:if="${user != null}">
        <th:block th:if="${user.uiDesign != null}">
            <link th:if="${user.uiDesign == 'angular'}" rel="stylesheet" href="/css/snips/ui-angular.css">
        </th:block>
    </th:block>
    <th:block th:if="${currUser != null}">
        <th:block th:if="${currUser.uiDesign != null}">
            <link th:if="${currUser.uiDesign == 'angular'}" rel="stylesheet" href="/css/snips/ui-angular.css">
        </th:block>
    </th:block>
</th:block>

<div th:fragment="search-users" class="user-search-div">

    <audio id="audio" style="display: none;"></audio>

    <div th:if="${#lists.isEmpty(dto.users)}"
         style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; padding-top: 12px;">
        <span th:text="#{no-users-found}"></span>
    </div>

    <div th:if="${dto.message != null}" id="search-message" th:text="${dto.message}" style="display: none;"></div>


    <th:block th:each="user : ${dto.users}">
        <div class="user-search-card" th:id="${user.idEncoded}">
            <div class="swiper swiper-container" th:id="${user.idEncoded}">
                <div class="swiper-wrapper">
                    <div class="swiper-slide colored"
                         style="background-color: #48c774; display: flex; align-items: center; justify-content: center">
                        <i class="fa fa-thumbs-up fa-10x"></i>
                    </div>
                    <div class="swiper-slide">
                        <div class="card is-horizontal" style="width: 100%; height: 100%;">
                            <div class="card-image" th:onclick="viewProfile([[${user.idEncoded}]])">
                                <figure class="image">
                                    <img th:src="${user.profilePicture}" class="profile-pic">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div th:onclick="viewProfile([[${user.idEncoded}]])">
                                    <div class="content-background">
                                        <div class="content">

                                            <div style="display: flex;">
                                                <div class="full-width" dir="ltr">
                                                    <div class="left first-name" style="font-size: 2em"
                                                         th:text="${user.firstName}"
                                                         th:classappend="${user.gender.text == 'male' ? 'male' : user.gender.text == 'female' ? 'female' : 'other'}">
                                                    </div>
                                                    <div class="left"
                                                         style="font-size: 1.5em; padding-top: 6px; display: flex; gap: 4px;">
                                                        <div><span>,&nbsp;</span><span th:text="${user.age}"></span>
                                                        </div>
                                                        <th:block
                                                                th:insert="~{fragments.html :: verification-state}"></th:block>
                                                        <th:block
                                                                th:insert="~{fragments.html :: last-active-state}"></th:block>
                                                    </div>
                                                    <div class="right" style="font-size: 1.2em; padding-top: 10px;">
                                                        <i class="fa fa-map-marker-alt"></i>
                                                        <span th:text="${user.distanceToUser}"></span><span> </span>
                                                        <span th:if="${currUser.units == 0}" th:text="#{km}"></span>
                                                        <span th:if="${currUser.units == 1}" th:text="#{mi}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="full-width common-interests" dir="ltr">
                                                <th:block th:if="${#lists.size(user.commonInterests) > 0}">
                                                    <div th:each="interest : ${user.commonInterests}"
                                                         class="notification is-info"
                                                         th:text="${interest.text}"
                                                         style=" display: inline-block; margin-bottom: 4px;">
                                                    </div>
                                                </th:block>
                                            </div>

                                            <div style="font-size: 1.1em;" class="description"
                                                 th:text="${user.description}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-bottom full-width dimmed"
                                     style="display: flex; justify-content: space-between;">

                                    <button class="button colored is-info search-audio button-small"
                                            th:if="${user.hasAudio}"
                                            th:onclick="playPauseAudio([[${user.idEncoded}]]);">
                                        <i class="fa fa-headphones"></i>
                                    </button>
                                    <div th:unless="${user.hasAudio}" class="search-audio"
                                         style="padding-left: 56px;"></div>

                                    <div class="right" th:if="${user.compatible}" style="display: flex;">
                                        <button class="button colored is-danger" style="margin-right: 4px;"
                                                th:onclick="hideUser([[${user.idEncoded}]])">
                                            <i class="fa fa-thumbs-down"></i>
                                        </button>
                                        <div class="search-button-padding"></div>
                                        <button class="button colored is-success"
                                                th:onclick="likeUser([[${user.idEncoded}]])">
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    </div>
                                    <div th:unless="${user.compatible}"></div>

                                    <button class="button colored is-info button-small search-visibility"
                                            onclick="toggleCardContent()" style="margin-right: 4px;">
                                        <i class="fa fa-low-vision"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide colored"
                         style="background-color: #f14668; display: flex; align-items: center; justify-content: center;">
                        <i class="fa fa-thumbs-down fa-10x"></i>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
<div th:fragment="message-detail">
    <div th:each="message : ${messages}" style="display: inline-block; width: 100%;">

        <div th:if="${message.from && message.allowedFormatting}" class="chat-message left"
             th:utext='|<a href="${message.content}">${message.content}</a>|'></div>
        <div th:if="${message.from && !message.allowedFormatting}" class="chat-message left"
             th:text="${message.content}"></div>

        <div th:if="${!message.from  && message.allowedFormatting}"
             class="chat-message right notification is-primary"
             th:utext='|<a href="${message.content}">${message.content}</a>|'></div>
        <div th:if="${!message.from  && !message.allowedFormatting}"
             class="chat-message right notification is-primary" th:text="${message.content}"></div>

    </div>
</div>

<div th:fragment="donate-filter" id="donate-cards-div">
    <div class="card is-horizontal donate-user-card" th:each="donation : ${donations}"
         style="scroll-snap-align: end;">
        <th:block th:with="user=${donation.user}">
            <div class="card-image">
                <figure class="image">
                    <th:block th:if="${user.profilePicture}">
                        <img th:src="${user.profilePicture}" class="profile-pic"
                             th:onclick="viewProfile([[${user.idEncoded}]])">
                    </th:block>
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <div class="media">
                        <div class="full-width" dir="ltr">
                            <div class="left first-name" style="font-size: 2em" th:text="${user.firstName}"
                                 th:classappend="${user.gender.text == 'male' ? 'male' : user.gender.text == 'female' ? 'female' : 'other'}">
                            </div>
                            <div class="left" style="font-size: 1.5em; padding-top: 6px;">
                                <span>, </span><span th:text="${user.age}"></span>
                            </div>
                            <div class="left" style="margin-left: 4px; margin-top: 12px;">
                                <th:block th:insert="~{fragments.html :: last-active-state}"></th:block>
                            </div>
                            <div class="right" style="font-size: 1.2em; padding-top: 10px;">
                                <i class="fa fa-map-marker-alt"></i>
                                <span th:text="${user.distanceToUser}"></span><span> </span>
                                <span th:if="${currUser.units == 0}" th:text="#{km}"></span>
                                <span th:if="${currUser.units == 1}" th:text="#{mi}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="media description">
                        <div class="full-width">
                            <div class="left" style="font-size: 1.2em">
                                <span th:text="#{donated}"></span><span> </span> <span
                                    th:text="${#numbers.formatDecimal(donation.amount, 1, 2, 'POINT') + ' €'}"
                                    th:if="${filter == 1}"></span> <span
                                    th:text="${#numbers.formatDecimal(user.totalDonations, 1, 2, 'POINT') + ' €'}"
                                    th:if="${filter == 2}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<span th:fragment="zodiac" th:if="${(currUser != null and currUser.showZodiac)}">
		<th:block th:if="${user.zodiac}">
			<span th:if="${user.zodiac == 'aries'}">♈︎</span>
			<span th:if="${user.zodiac == 'taurus'}">♉︎</span>
			<span th:if="${user.zodiac == 'gemini'}">♊︎</span>
			<span th:if="${user.zodiac == 'cancer'}">♋︎</span>
			<span th:if="${user.zodiac == 'leo'}">♌︎</span>
			<span th:if="${user.zodiac == 'virgo'}">♍︎</span>
			<span th:if="${user.zodiac == 'libra'}">♎︎</span>
			<span th:if="${user.zodiac == 'scorpio'}">♏︎</span>
			<span th:if="${user.zodiac == 'sagittarius'}">♐︎</span>
			<span th:if="${user.zodiac == 'capricorn'}">♑︎</span>
			<span th:if="${user.zodiac == 'aquarius'}">♒︎</span>
			<span th:if="${user.zodiac == 'pisces'}">♓︎</span>
		</th:block>
	</span>

<th:block th:fragment="last-active-state" style="margin-left; 4px;">
    <div>
        <span th:if="${user.lastActiveState == 1}"><i class="fas fa-circle active-state-icon active-state-1"></i></span>
        <span th:if="${user.lastActiveState == 2}"><i class="far fa-circle active-state-icon active-state-2"></i></span>
        <span th:if="${user.lastActiveState == 3}"><i class="fas fa-circle active-state-icon active-state-3"></i></span>
        <span th:if="${user.lastActiveState == 4}"><i class="far fa-circle active-state-icon active-state-4"></i></span>
        <span th:if="${user.lastActiveState == 5}"><i class="fas fa-circle active-state-icon active-state-5"></i></span>
    </div>
</th:block>
<th:block th:fragment="verification-state">
    <div>
        <div th:if="${user.verificationPicture.verifiedByUsers && !user.verificationPicture.verifiedByAdmin}">
            <i class="far fa-check-circle colored verified-community has-text-primary"
               th:attr="data-tooltip=#{case.profile.verification.badge.community}"></i></div>
        <div th:if="${user.verificationPicture.verifiedByAdmin}"
             style="align-self: flex-end;">
            <i class="fas fa-check-circle colored verified-community has-text-primary"
               th:attr="data-tooltip=#{case.profile.verification.badge.admin}"></i>
        </div>
    </div>
</th:block>

<div th:fragment="profile-warning">
    <div th:if="${hasWarning}">

        <header class="card-header collapsible-header" style="display: flex;">
            <a href="#collapsible-card-warning" data-action="collapse"
               class="card-header-icon is-hidden-fullscreen full-width navbar is-danger"
               id="profile-warning-collapsible" aria-label="more options">
					<span class="label" style="margin-bottom: initial; color: white;"
                          th:text="#{profile.warning.incomplete}"></span>
                <div class="navbar-link" id="navbar-link-profile-warning" style="overflow-wrap: anywhere;"></div>
            </a>
        </header>
        <div id="collapsible-card-warning" class="is-collapsible always-collapse">
            <div class="card-content">
                <a class="notification is-warning full-width" th:if="${noProfilePicture}"
                   th:text="#{profile.warning.no-profile-picture}" id="no-profile-picture"
                   onclick="onWarningProfileClicked()"></a> <a class="notification is-warning full-width"
                                                               th:if="${noDescription}"
                                                               th:text="#{profile.warning.no-description}"
                                                               id="no-description"
                                                               onclick="onWarningDescriptionClicked()"></a> <a
                    class="notification is-warning full-width"
                    th:if="${noIntention}" onclick="onWarningIntentionClicked()" id="no-intention"
                    th:text="#{profile.warning.no-intention}"></a> <a class="notification is-warning full-width"
                                                                      th:if="${noGender}"
                                                                      onclick="onWarningGenderClicked()" id="no-gender"
                                                                      th:text="#{profile.warning.no-gender-preference}"></a>
                <a
                        class="notification is-warning full-width" th:if="${noLocation}" id="no-location"
                        th:text="#{profile.warning.no-location}" href="/search"></a>
            </div>
        </div>

        <script>
            function onWarningProfileClicked() {
                $("#profilePictureUpload").click();
            }

            function onWarningDescriptionClicked() {
                document.getElementById('description').scrollIntoView({behavior: 'smooth', block: 'center'});
            }

            function onWarningIntentionClicked() {
                document.getElementById('intention-field').scrollIntoView({behavior: 'smooth', block: 'center'});
            }

            function onWarningGenderClicked() {
                document.getElementById('gender-field').scrollIntoView({behavior: 'smooth', block: 'center'});
            }
        </script>
    </div>
</div>

<div th:fragment="user-profile-modal">
    <div id="user-profile-modal" class="modal modal-fx-fadeInScale">
        <div class="modal-background" onclick="history.back()"></div>
        <div class="modal-content">
            <div class="box">
                <div style="padding: 8px;"><i class="fa fa-times fa-2x"
                                              style="cursor:pointer; margin-left: 8px; margin-top: 4px"
                                              onclick="history.back()"></i>
                </div>
                <th:block th:insert="~{fragments.html::user-profile}"></th:block>
            </div>
        </div>
    </div>
    <th:block th:insert="~{fragments.html::user-profile-verification}"></th:block>
    <script>
        $(function () {
            var swiper = new Swiper('.swiper-container-user-profile', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }, pagination: {el: '.swiper-pagination'}
            });
        });
        $(window).on("popstate", function (e) {
            closeModal();
        });


    </script>
</div>

<div th:fragment="user-profile">
    <div>
        <div class="section">
            <div class="container">
                <div class="field">
                    <div class="swiper swiper-container-user-profile">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="center-parent">
                                    <img id="profilePicture" style="cursor: pointer;" height=400 width="400"
                                         th:if="${user.profilePicture}" th:src="${user.profilePicture}"
                                         class="profile-pic"/>
                                </div>
                            </div>
                            <div th:each="img : ${user.images}" class="swiper-slide">
                                <div class="center-parent">
                                    <img style="cursor: pointer;" height=400 width="400" class="profile-pic"
                                         th:src="${img.content}" th:onclick="deleteImage([[${img.id}]])"/>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="container">
                <div class="content">
                    <div class="media">
                        <div class="full-width" dir="ltr">
                            <div class="left first-name" style="font-size: 2em" th:text="${user.firstName}"
                                 th:classappend="${user.gender.text == 'male' ? 'male' : user.gender.text == 'female' ? 'female' : 'other'}">
                            </div>
                            <div class="left" style="font-size: 1.5em; padding-top: 8px; display: flex; gap: 4px;">
                                <div><span>,&nbsp;</span><span th:text="${user.age}"></span></div>
                                <th:block th:insert="~{fragments.html :: verification-state}"></th:block>
                                <th:block th:insert="~{fragments.html :: last-active-state}"></th:block>
                                <span th:text="${user.country}"></span>
                                <th:block th:insert="~{fragments.html :: zodiac}"></th:block>
                            </div>
                            <div class="right" style="font-size: 1.2em; padding-top: 12px;">
                                <i class="fa fa-map-marker-alt"></i>
                                <span th:text="${user.distanceToUser}"></span><span> </span><span
                                    th:text="#{km}"></span>
                            </div>
                            <div class="right" style="margin-right: 8px; padding-top: 10px;">
                                <div class="button is-primary is-outlined left is-small"
                                     th:if="${!user.verificationPicture.verifiedByAdmin
                                        && !user.verificationPicture.votedByCurrentUser
                                        && user.verificationPicture.hasPicture
                                        && currUser.verificationPicture.hasPicture}"
                                     onclick="verifyModal()" th:text="#{profile.verification.button}"></div>
                            </div>
                        </div>
                    </div>

                    <div style="padding-top: 12px;"></div>

                    <div class="field">
                        <div id="description" th:text="${user.description}" style="font-size: 1.2em;"></div>
                    </div>
                    <th:block th:if="${#lists.size(user.interests) > 0}">
                        <div style="padding-top: 12px;" th:if="${user.interests}"></div>
                        <div class="field">
                            <div th:each="interest : ${user.interests}" class="notification is-info"
                                 th:text="${interest.text}" style=" display: inline-block; margin-bottom: 4px;">
                            </div>
                        </div>
                        <div style="padding-top: 12px;" th:if="${user.interests}"></div>
                    </th:block>
                    <div class="field" th:if="${user.hasAudio}" style="padding-bottom: 24px;">
                        <audio id="audio-profile" th:if="${user.audio}" controls hidden></audio>
                        <div class="colored button is-info" id="audio-play-button" th:if="${user.audio}"
                             onclick="downloadAndPlayAudio()">
                            <i class="fa fa-play"></i>
                        </div>
                    </div>
                    <table class="table" style="width: 100%">
                        <tbody>
                        <tr>
                            <th th:text="#{gender}"></th>
                            <td th:if="${user.gender.text == 'male'}" th:text="#{profile.gender.male}"></td>
                            <td th:if="${user.gender.text == 'female'}" th:text="#{profile.gender.female}"></td>
                            <td th:if="${user.gender.text == 'other'}" th:text="#{profile.gender.other}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{profile.intention}"></th>
                            <td th:if="${user.intention.text == 'meet'}" th:text="#{profile.intention.meet}">
                            </td>
                            <td th:if="${user.intention.text == 'date'}" th:text="#{profile.intention.date}">
                            </td>
                            <td th:if="${user.intention.text == 'sex'}" th:text="#{profile.intention.sex}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{profile.gender}">
                            <td>
                                <th:block th:each="gender : ${user.preferedGenders}">
											<span th:if="${gender.text == 'male'}" style="padding-right: 4px;"
                                                  th:text="#{profile.gender.male}"></span>
                                    <span th:if="${gender.text == 'female'}" style="padding-right: 4px;"
                                          th:text="#{profile.gender.female}"></span>
                                    <span th:if="${gender.text == 'other'}" style="padding-right: 4px;"
                                          th:text="#{profile.gender.other}"></span>
                                </th:block>
                            </td>
                            </th>
                        </tr>
                        <tr>
                            <th th:text="#{profile.pref-age-range}"></th>
                            <td th:text="${user.preferedMinAge + ' - ' + user.preferedMaxAge}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{donated}"></th>
                            <td th:text="${#numbers.formatDecimal(user.totalDonations, 1, 2, 'POINT') + ' €'}">
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{profile.misc-info.relationship.title}"></th>
                            <td>
										<span
                                                th:if="${user.miscInfos != null and not user.miscInfos.?[value == 11].isEmpty()}"
                                                th:text="#{profile.misc-info.relationship.single}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 12].isEmpty()}"
                                        th:text="#{profile.misc-info.relationship.taken}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 13].isEmpty()}"
                                        th:text="#{profile.misc-info.relationship.open}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 14].isEmpty()}"
                                        th:text="#{profile.misc-info.relationship.other}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{profile.misc-info.kids.title}"></th>
                            <td>
										<span
                                                th:if="${user.miscInfos != null and not user.miscInfos.?[value == 21].isEmpty()}"
                                                th:text="#{profile.misc-info.kids.no}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 22].isEmpty()}"
                                        th:text="#{profile.misc-info.kids.yes}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{profile.misc-info.drugs.title}"></th>
                            <td>
										<span
                                                th:if="${user.miscInfos != null and not user.miscInfos.?[value == 1].isEmpty()}"
                                                th:text="#{profile.misc-info.drugs.tobacco}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 2].isEmpty()}"
                                        th:text="#{profile.misc-info.drugs.alcohol}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 3].isEmpty()}"
                                        th:text="#{profile.misc-info.drugs.cannabis}"></span>
                                <span
                                        th:if="${user.miscInfos != null and not user.miscInfos.?[value == 4].isEmpty()}"
                                        th:text="#{profile.misc-info.drugs.other}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{userprofile.num-blocks}"></th>
                            <td th:text="${user.numBlockedByUsers}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{userprofile.num-reports}"></th>
                            <td th:text="${user.numReports}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="padding-top: 8px;"></div>
                    <div class="profile-bottom full-width" style="display: inline-block;">
                        <div class="left" style="margin-bottom: 12px;">
                            <button class="button colored is-danger" th:unless="${user.blockedByCurrentUser}"
                                    th:onclick="blockUser([[${user.idEncoded}]])">
                                <i class="fa fa-ban"></i>
                            </button>
                            <button class="button colored is-success" th:if="${user.blockedByCurrentUser}"
                                    th:onclick="unblockUser([[${user.idEncoded}]])">
                                <i class="fa fa-ban"></i>
                            </button>
                            <button class="button colored is-info" th:unless="${user.reportedByCurrentUser}"
                                    th:onclick="reportUser()">
                                <i class="fa fa-flag"></i>
                            </button>
                        </div>
                    </div>
                    <div id="report-user-div" class="display-none">
                        <div class="box" style="padding: 1.25rem">
                            <div style="margin-bottom: 24px" th:utext="#{userprofile.report.confirm}"></div>

                            <div class="field">
									<textarea class="textarea" id="report-comment" th:placeholder="#{comment}"
                                              maxlength=255></textarea>
                            </div>

                            <div class="field">
                                <div class="field" style="height: 42px">

                                    <button class="button is-info colored" style="float: right;"
                                            th:onclick="reportUserSubmit([[${user.idEncoded}]])"
                                            th:text="#{submit}"></button>
                                    <button class="button is-danger is-outlined" style="margin-right: 4px;"
                                            onclick="closeModal()" th:text="#{cancel}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="like-hide-bottom" th:if="${compatible}">
        <button class="button colored is-danger" style="height: 56px; width: 56px;"
                th:unless="${user.hiddenByCurrentUser or user.likedByCurrentUser}"
                th:onclick="hideUser([[${user.idEncoded}]])">
            <i class="fa fa-thumbs-down"></i>
        </button>
        <button class="button colored is-danger" style="height: 56px; width: 56px;"
                th:if="${user.hiddenByCurrentUser or user.likedByCurrentUser}"
                th:onclick="hideUser([[${user.idEncoded}]])" disabled>
            <i class="fa fa-thumbs-down"></i>
        </button>
        <div style="padding-right: 24px;"></div>
        <button class="button colored is-success" style="height: 56px; width: 56px;"
                th:unless="${user.likedByCurrentUser}" th:onclick="likeUser([[${user.idEncoded}]])">
            <i class="fa fa-thumbs-up"></i>
        </button>
        <button class="button colored is-success" style="height: 56px; width: 56px;"
                th:if="${user.likedByCurrentUser}" th:onclick="likeUser([[${user.idEncoded}]])" disabled>
            <i class="fa fa-thumbs-up"></i>
        </button>
    </div>
    <input id="user-id-enc" th:value="${user.idEncoded}" hidden>
</div>

<div th:fragment="user-profile-verification">
    <div th:if="${!user.verificationPicture.verifiedByAdmin && user.verificationPicture.hasPicture}"
         id="verification-modal" class="modal modal-fx-fadeInScale">
        <div class="modal-background" onclick="closeModal()"></div>
        <div class="modal-content" id="verification-modal-content">
            <div class="box" id="verification-modal-box">
                <div style="padding: 8px;"><i class="fa fa-times fa-2x"
                                              style="cursor:pointer; margin-left: 8px; margin-top: 4px"
                                              onclick="closeModal()"></i></div>
                <div class="section" id="verification-modal-section">
                    <div class="columns">
                        <div class="column" style="padding-bottom: 12px;">
                            <img th:src="${user.profilePicture}" id="verification-profile-pic">
                            <div id="verification-text" class="notification is-primary" style="text-align: center;"
                                 th:text="${user.verificationPicture.text}"></div>
                        </div>
                        <div class="container column">
                            <img th:src="${user.verificationPicture.data}" id="verification-picture">
                        </div>
                    </div>
                    <div class="container" style="padding-top: 24px; padding-bottom: 42px;">
                        <ul style="list-style-type: disc;">
                            <li th:text="#{profile.verification.instruction-1}"></li>
                            <li th:text="#{profile.verification.instruction-2}"></li>
                            <li th:text="#{profile.verification.instruction-3}"></li>
                        </ul>
                    </div>
                    <div class="container">
                        <button class="button is-danger colored" th:text="#{no}"
                                th:onclick="downvoteVerification([[${user.idEncoded}]])"></button>
                        <button class="button right is-primary colored" th:text="#{yes}"
                                th:onclick="upvoteVerification([[${user.idEncoded}]])"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
