<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" dir="auto">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">
	
	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="~{fragments.html::bulma}"></th:block>
	<th:block th:replace="~{fragments.html::ui-design}"></th:block>
	<link rel="stylesheet" href="/css/lib/animate.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<title th:text="#{password-reset.title}"></title>
</head>
<body>
	<div id="main">
		<header th:insert="~{fragments.html::header-logged-out}"></header>
		<div class="section">
			<div class="container">
				<div class="column">
					<h3 class="title" th:text="#{password-reset.title}"></h3>
					<div class="box">
						<form th:action="@{/password/reset}" method="POST" id="form">
							<div class="field">
								<div class="control">
									<label class="label" th:text="#{email}"></label>
									<input class="input" type="email" autofocus="" name="email" id="email" required>
								</div>
							</div>
							<div th:if="${captchaEnabled}">
								<div th:replace="~{fragments.html::captcha}"></div>
							</div>
							<button class="button is-info colored" th:text="#{submit}"></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments.html::footer}"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/lib/bulma-toast.min.js"></script>
	<script src="/js/tools/refresh-captcha.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/password-reset.js"></script>
</body>
</html>
