<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" dir="auto">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Alovoa">
	<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
	<link rel="manifest" href="/manifest/manifest.json">

	<link rel="stylesheet" href="/css/lib/bulma.min.css" />
	<th:block th:replace="~{fragments.html::bulma}"></th:block>
	<th:block th:replace="~{fragments.html::ui-design}"></th:block>
	<link rel="stylesheet" href="/css/lib/bulma-switch.min.css" />
	<link rel="stylesheet" href="/css/lib/bulma-divider.min.css" />
	<link rel="stylesheet" href="/css/lib/modal-fx.min.css" />
	<link rel="stylesheet" href="/css/lib/animate.min.css" />
	<link rel="stylesheet" href="/css/alovoa.css" />
	<title th:text="#{register.title}"></title>
</head>

<body>
	<div id="main">
		<header th:replace="~{fragments.html::header-logged-out}"></header>
		<div class="section">
			<div class="container container-narrow">
				<h3 class="title" th:text="#{register.title}"></h3>
				<p class="subtitle" th:text="#{register.subtitle}"></p>
				<a th:if="${localLoginEnabled}" id="email-auth" onclick="emailAuthClick()"
					class=" full-width button is-colored is-rounded"
					aria-label="more options"
					style="display: flex; justify-content: center; background-color: initial;">
					<i class="fa fa-envelope fa-lg"></i>
					<span class="label" style="margin-bottom: initial; padding-left: 6px; padding-right: 6px;"
						th:text="#{register.email.sign-up}"></span>
				</a>
				<div class="container" style="margin-bottom: 24px;" dir="ltr" id="oauth-div">
					<div class="box no-shadow">
						<div class="columns">
							<div th:if="${googleEnabled}">
								<button class="button colored" id="google-auth"
										onclick="window.location='/oauth2/authorization/google'">
									<img src="/img/g-icon.svg" style="height: 32px;"><span
										style="padding-left: 6px; color: white;"
										th:text="#{register.oauth.google}"></span>
								</button>
							</div>
							<div th:if="${facebookEnabled}">
								<button id="facebook-auth" class="button colored"
										onclick="window.location='/oauth2/authorization/facebook'">
									<img src="/img/f-icon.svg" style="height: 32px;"><span
										style="padding-left: 6px; color: white;"
										th:text="#{register.oauth.facebook}"></span>
								</button>
							</div>
							<div th:if="${ip6liEnabled}">
								<button id="ip6li-auth" class="button colored"
										onclick="window.location='/oauth2/authorization/ip6li'">
									<img src="/img/ip6li-icon.png" style="height: 32px;"><span
										style="padding-left: 6px; color: white;"
										th:text="#{register.oauth.ip6li}"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div>
					<p>
						<a href="/login" th:text="#{register.login}"></a>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="email-register-modal" class="modal modal-fx-fadeInScale">
		<div class="modal-background" onclick="closeModal()"></div>
		<div class="modal-content">
			<div class="box">
				<form th:action="@{/register}" method="POST" id="register-form" class="">
					<div class="field">
						<label class="label" th:text="#{first-name}" style="float: left;"></label><span
							class="asterisk">*</span>
						<div class="control">
							<input class="input" type="text" name="firstName" minlength="2" maxlength="10"
								required>
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{dob}" style="float: left;"></label><span
							class="asterisk">*</span>
						<div class="control">
							<input id="dob-input" class="input" type="date" name="dateOfBirth"
								style="width: 100%;" required>
						</div>
					</div>
					
					<div class="field">
						<label class="label" th:text="#{gender}" style="float: left;"></label><span
							class="asterisk">*</span>
						<div class="select">
							<select name="gender" required>
								<option value=""></option>
								<th:block th:each="gender : ${genders}">
									<option th:value="${gender.id}" th:if="${gender.text == 'male'}"
										th:text="#{profile.gender.male}"></option>
									<option th:value="${gender.id}" th:if="${gender.text == 'female'}"
										th:text="#{profile.gender.female}"></option>
									<option th:value="${gender.id}" th:if="${gender.text == 'other'}"
										th:text="#{profile.gender.other}"></option>
								</th:block>
							</select>
						</div>
					</div>
					
					<div style="padding-top: 24px;"></div>
					
					<div>
						<div class="field">
							<label class="label" th:text="#{email}" style="float: left;"></label><span
								class="asterisk">*</span>
							<div class="control">
								<input class="input" type="email" name="email" required>
							</div>
						</div>						
						<div class="field">
							<label class="label" th:text="#{password}"></label>
							<div class="control">
								<input class="input" type="password" name="password" id="password" required>
							</div>
							<div id="password-info" th:text="#{password-change.warning}" style="font-size:0.8em; color: red;">
						</div>	

						</div>
						
						<div class="field">
							<label class="label" th:text="#{register.referral-code}" style="float: left;"></label>
							<div class="control">
								<input class="input" name="referrerCode" id="referrer" th:placeholder="#{optional}">
							</div>
						</div>
	
						<div style="height: 24px"></div>
	
						<div class="field">
							<div class="field">
								<input id="tos" type="checkbox" name="tos" class="switch"
									style="position: absolute" required> <label for="tos"
									th:utext="#{register.tos-agree}"> </label>
							</div>
							<div class="field">
								<input id="pp" type="checkbox" name="pp" class="switch"
									style="position: absolute" required> <label for="pp"
									th:utext="#{register.privacy-agree}"> </label>
							</div>
						</div>
	
						<div class="register-warning" th:text="#{register.asterisk-warning}"></div>

						<div class="field is-grouped" style="display: flex; justify-content: flex-start;">
							<div class="control">
								<button class="button is-danger is-outlined" type="button" onclick="closeModal()" th:text="#{cancel}"></button>
							</div>
							<div class="control">
								<button class="button colored is-link" type="submit" th:text="#{submit}"></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments.html::footer}"></footer>

	<script src="/sw.js"></script>
	<script src="/js/lib/fontawesome.all.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/modal-fx.min.js"></script>
	<script src="/js/lib/bulma-toast.min.js"></script>
	<script src="/js/tools/check-password.js"></script>
	<script src="/js/tools/get-text.js"></script>
	<script src="/js/tools/modal.js"></script>
	<script src="/js/alovoa.js"></script>
	<script src="/js/register.js"></script>

</body>

</html>
